{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="offset-by-two eight columns">
    <form
       action="{{ startups.get_delete_url }}"
       method="post">
      {% csrf_token %}
      <p>
        Are you sure you want to delete
        startup {{ startup.name }}?
      </p>
      <a
	 href="{{ startups.get_absolute_url }}"
	 class="button button-primary">
        Cancel</a>
      <button type="submit">Delete Startup</button>
    </form>
  </div>
</div>
{% endblock %}
